.main-app {
    width: 90vw;
    margin: 0 auto;

    @media (min-width: 1000px){
        width: 50vw;
    }

    .topbar {
        height: 50px;
        padding: 10px;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
    }

    .main-content {

    }
}

